html,
body {
  height: 100%;
}

:root {
  --negro: #1e2125;
  --gris: #686868;
  --principal: #eb7d47;
  --hover: #c0673b;
  --bordes_tablas: #5f5f5f20;
  --fondo_tablas: #fff;
  --fondo: rgb(239, 241, 252);
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.btn-primary{
  background-color:var(--principal);
  border-color: var(--principal);
}

.btn-primary:hover{
  background-color:var(--hover);
  border-color: var(--hover);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
